<% @page_title = "Quizme - About" %>

<div class="quiz-about-body">
    <div class="overlay-container">

        <div class="content-wrapper stylish-forms" style="min-height: 800px;">
            
            <div class="floating-profile-box darker" style="margin: 60px 175px 60px 175px">

                <div style="display:block; height: 50px;">
                    <span class="sub-header-text">About Quizme</span>
                </div>
                
                <hr style="margin-top:0px">
                
                <div style="display:block;">
                    <h3>Our quizzes are smart, and they record how many times you've answered correctly or incorrectly.
                    That's the number you see beneath every student's name. 
                    </h3>
                    <h3>If you don't review your students for a while, that number will fall slowly. The rate that it
                    decreases at is pegged to the square of the number that it will decrease to.
                    </h3>
                    <h3>For example, if Jessica was at 5, she would drop to 4 after 16 days without a review. 9 days after that,
                    she would drop to 3. And 4 days after that, she would drop to 2. She'd be a 1 the next day and 0 the day after.
                    </h3>
                    <h3>Scores never drop beneath zero this way.
                    </h3>
                    <h3>Scores that are sub-zero because of incorrect answers
                    will never "age upward" towards zero.
                    </h3>
                    
                </div>
                
            </div>
            
        </div> 
            
    </div>
</div>

