<% @page_title = "QuizMe - Edit Student" %>




<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        <h1>Edit profile</h1>
        
        <%= form_for @student, :html => { :multipart => true } do |f| %>

        <%= render(:partial => 'student_form', :locals => {:f => f}) %>
    
        <%= f.submit 'Update Student', :class => "button" %>
    
        <% end %>
    
    </div>
    
</div>
