<% @page_title = "QuizMe - Edit Student" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1>Edit student profile</h1>
    </div>
</div>



<div class="content-wrapper">
    <%= form_for @student, :html => { :multipart => true } do |f| %>

        <%= render(:partial => 'student_form', :locals => {:f => f}) %>
    
        <%= f.submit 'Update Student', :class => "button" %>
    
    <% end %>
    
</div>
    