<h1>Hello</h1>
<div>
    <% @students.each do |student| %>
    <div>
       <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student) %></p>
    </div>
    <% end %>
    
    <p><%= link_to 'Go to Courses', '/' %></p>
    <p><%= link_to 'Add Student', new_student_path %></p>
    
</div>
