<h1>Add Student</h1>

<%= form_for @student, :html => { :multipart => true } do |f| %>

    <%= render(:partial => 'student_form', :locals => {:f => f}) %>
    
    <%= f.submit 'Create Student' %>
    
<% end %>
    