<% @page_title = "QuizMe - Add Student" %>


<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        <h1>Add student manually - they will not be able to log in.</h1>
            <%= form_for @student, :url => {:action => :create}, :html => { :multipart => true } do |f| %>

        <%= render(:partial => 'student_form', :locals => {:f => f}) %>
        
    
        <%= f.submit 'Create Student', :class => "button" %>
    
    <% end %>

    </div>
    
</div>