<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Create an account as a student </h1>
    </div>
</div>

<div class="content-wrapper">
    
    <%= form_for @student, :html => { :multipart => true } do |f| %>
    
    
        <%= render(:partial => 'student_form', :locals => {:f => f}) %>
        
        <%= f.submit 'Create Student', :class => "button" %>
        
        <br />
        
        <p>Or, sign in using your Google account:</p>
        
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        
        
    <% end %>

</div>