<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Are you a teacher or student? </h1>
    </div>
</div>



<div class="content-wrapper">
    <%= link_to "Teacher", new_teacher_path, :class => "button" %>
    <%= link_to "Student", '/students/signup', :class => "button" %>
</div>