<title>Quizme!</title>

<div style="background:#ccbbea;">
    <div class="content-wrapper">
        <h1 style="padding-top: 20px; color: white; font-size:60px; text-align:center;">Make your first impression pop with QuizMe!</h1>
        <h2 style="color: white; text-align:center;">On Day 1, show you care by knowing your students' names.</h2>
        
        <h3 style="color:white; text-align:center;">QuizMe! is an elegant solution to every teacher's struggles.</h3>
        
        <span style="align:center"><%= link_to "Get Started", new_teacher_path, :class => "button" %></span>
        
        <br><br><br>
    
    </div>
</div>

