<title>Quizme!</title>

<div style="background:#ccbbea;">
    <div class="content-wrapper">
        <h1 style="font-size:60px; text-align:center; color:white;">Make your first impression pop with QuizMe!</h1>
        <h2 style="text-align:center; color:white;">On Day 1, show you care by knowing your students' names.</h2>
        
        <h3 style="text-align:center; color:white;">QuizMe! is an elegant solution to every teacher's struggles.</h3>
        
        <%= link_to "Get Started", "/access/accountType", :class => "button" %> <br>
    
    </div>
</div>