<title>Quizme!</title>

<h1>First impressions matter.</h1>
<h2>On Day 1, show you care by knowing your students' names.</h2>

<h3>QuizMe! is an elegant solution to every teacher's struggles.</h3>

<%= link_to "Get Started", new_teacher_path, :class => "button" %> <br>

<img src="assets/pencils.jpg" alt="Tools of creativity">