<title>QuizMe</title>



<div class="home-body">
    <div class="overlay-container">
    
<<<<<<< HEAD
        <div class="content-wrapper" style="height:600px; padding-top: 60px;">
        <h1 style="font-size:60px; text-align:center; color:white; font-weight:bold;">Make the right first <br>impression with <span style="font-family: 'Julius Sans One', sans-serif;">Quizme</span></h1>
        <h2 style="text-align:center; color:white;margin-top:40px;">On Day 1, show you care by knowing your students' names.</h2>
        
        <%= link_to "Get Started", "/access/accountType", :class => "home-button" %> <br>
=======
        <div class="content-wrapper" style="height:900px; padding-top: 60px;">
            <h1 style="font-size:60px; text-align:center; color:white; font-weight:bold;">Make the right first <br>impression with <span style="font-family: 'Julius Sans One', sans-serif;">Quizme</span></h1>
            <h2 style="text-align:center; color:white;margin-top:40px;">On Day 1, show you care by knowing your students' names.</h2>
            
            <%= link_to "Get Started", "/access/accountType", :class => "home-button" %> <br>
>>>>>>> master
    
    </div>
        
    </div>
</div>