<title>QuizMe</title>



<div style="background:#ccbbea;">
    <div class="content-wrapper" style="height:600px; padding-top: 20px;">
        <h1 style="font-size:60px; text-align:center; color:white;">Make the right first impression with <span style="font-family: 'Julius Sans One', sans-serif;">Quizme</span></h1>
        <h2 style="text-align:center; color:white;">On Day 1, show you care by knowing your students' names.</h2>
        <h3 style="text-align:center; color:white;">QuizMe! is an elegant solution to every teacher's struggles.</h3>
        
        <%= link_to "Get Started", "/access/accountType", :class => "button" %> <br>
    
    </div>
</div>

<img src="/assets/teacherteaching.jpg" alt="">