<title>Quizme!</title>

<h1>Quiz Me!</h1>
<h2>An elegant solution for teachers.</h2>

<h3>First impressions matter. On Day 1, show you care by knowing your students' names.</h3>

<%= link_to "Get Started", new_teacher_path %> <br>

<!-- img src="pencils.jpg" alt="Tools of creativity">