<h1>Edit Teacher</h1>


<p>Please Note: You must reenter your password. Otherwise, any changes you make will be lost.</p>
<%= form_for @teacher, :html => { :multipart => true } do |f| %>

    <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
    
    <%= f.submit 'Update Teacher' %>
    
<% end %>
    