<% @page_title = "QuizMe - Edit Profile" %>





<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        <h1>Edit your profile</h1>
   <%= form_for @teacher, :html => { :multipart => true } do |f| %>

    <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
    
    <%= f.submit 'Update Teacher' %>
    
    <% end %>
    </div>
    
</div>