<h1>Add Teacher</h1>

<%= form_for @teacher, :html => { :multipart => true } do |f| %>

    <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
    
    <%= f.submit 'Update Teacher' %>
    
<% end %>
    