<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="21476288076-p1804q3mrjbuc85gvmm94ekk1jn0ius1.apps.googleusercontent.com">

<% @page_title = "Register for an account" %>

    
<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Create an account as a teacher </h1>
    </div>
</div>

<div class="content-wrapper">
    
    
    <%= form_for @teacher, :html => { :multipart => true } do |f| %>
    
    
        <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
        
        <%= f.submit 'Create Teacher', :class => "button" %>
        
        <br />
        
        <p>Or, sign in using your Google account:</p>
        
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        
        
    <% end %>

</div>