<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="21476288076-p1804q3mrjbuc85gvmm94ekk1jn0ius1.apps.googleusercontent.com">

<% @page_title = "Register for an account" %>

    
<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1> Create an account as a teacher </h1>
    </div>
</div>

<div class="content-wrapper">
    <p style="color:red;">*all fields are mandatory</p>
    
    
    <%= form_for @teacher, :html => { :multipart => true } do |f| %>
    
    
        <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
        
        <%= f.submit 'Create Teacher', :class => "button" %>
        
        <br />
        
        <p>Or, sign in using your Google account:</p>
        
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        
        
    <% end %>
<script>
  function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('First Name: ' + profile.getGivenName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>

</div>