<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="21476288076-p1804q3mrjbuc85gvmm94ekk1jn0ius1.apps.googleusercontent.com">

<h1>Add Teacher</h1>

<%= form_for @teacher, :html => { :multipart => true } do |f| %>


    <%= render(:partial => 'teacher_form', :locals => {:f => f}) %>
    
    <%= f.submit 'Create Teacher' %>
    
    <br />
    
    <p>Or, sign in using your Google account:</p>
    
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    
    
<% end %>
    