<% @page_title = "Course edit" %>

<h1>Edit Course</h1>

<%= form_for @course do |f| %>

    <%= render(:partial => "course_form", :locals => {:f => f}) %>
    
    
    <%= submit_tag value='Save Changes', options={} %>
    
<% end %>