<% @page_title = "Quizme - Edit Course" %>

<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        <h1>Edit course</h1>
    <%= form_for @course do |f| %>

        <%= render(:partial => "course_form", :locals => {:f => f}) %>
    
    
        <%= submit_tag value='Save Changes', :class => "button" %>
    
    <% end %>
    </div>
    
</div>