<% @page_title = "Quizme - Course edit" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1>Edit Course</h1>    
    </div>

</div>



<div class="content-wrapper">
    
    <%= form_for @course do |f| %>

        <%= render(:partial => "course_form", :locals => {:f => f}) %>
    
    
        <%= submit_tag value='Save Changes', :class => "button" %>
    
    <% end %>


</div>
