<% @page_title = "Quizme - Courses" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1>Your Courses 
        <span class="button-box"><%= link_to "Add New Course", new_course_path, :class => "title-bar-button" %></span>
        </h1>
    </div>
</div>

<div class="content-wrapper">
    <div id="listCourses">
    <% @courses.each do |course| %>
    <div>
       <p><%= link_to course.course_name, course_path(course) %></p>
    </div>
    <% end %>
    </div>
    

</div>


