<h1>Hello</h1>
<div>
     <% 2.times do %>
     <p>yo</p>
     <% end %>
     
    <%#<% @courses.each do |course| %>
    <%#<div>
       <%# <p><%= link_to course.course_name, course_path(course) %><%#</p>
    <%#</div>
    <%#<% end %>
</div>


