<h1>Here is a List of your Courses:</h1>
<div>
    <div id="listCourses">
    <% @courses.each do |course| %>
    <div>
       <p><%= link_to course.course_name, course_path(course) %></p>
    </div>
    <% end %>
    </div>
  <ul id="nav">
    <li><%= link_to 'Add New Course', new_course_path %></li>
    
    <li><%= link_to 'Go to Students', students_path %></li>
    
    <li><%= link_to 'Back to Home', '/' %></li>
    </ul>
</div>


