<% @page_title = "Quizme - Courses" %>

<div class="pagehead innerHeadContainer">
    <div class="width-restraint">
        <h1><div class="sub-header-text">Your courses</div> 
        <span class="button-box"><%= link_to "Add New Course", new_course_path, :class => "title-bar-button" %></span>
        </h1>
    </div>
</div>



<div class="content-wrapper clearfix">
    <div class="list-box">
        <% @courses.each do |course| %>
            <p><%= link_to course.course_name, course_path(course) %></p>
        <% end %>
    </div>
</div>