<% @page_title = "QuizMe - Add Course" %>


<div class="content-wrapper stylish-forms" style="min-height: 800px">
    
    <div class="floating-profile-box" style="margin: 60px 175px 60px 175px">
        <h1>Add course</h1>
        <%= form_for Course.new do |f| %>
        
            <%= render(:partial => "course_form", :locals => {:f => f}) %>
            
            
            <%= submit_tag value='Save Changes', :class => "button" %>
            
        <% end %>
    </div>
    
</div>