<h1>Add Course</h1>

<%= form_tag courses_path, :method => :post do %>

    <%= label :course, :course_name, 'Course Name' %>
    <%= text_field :course, :course_name %>
    
    
    <%= submit_tag value='Save Changes', options={} %>
    
<% end %>
    