/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @font-face {
     font-family: "Neris";
     src: url('/assets/Neris-Black.otf');
 }
 
 @keyframes fadeOut {
    from {background-color: #e36397;}
    to {background-color: #69306d;}
}

 #notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    /*z-index: 999;*/
    padding-top: 15px;
    /*background: rgba(227, 99, 121, .85);*/
 }
 
#notice {
    position: absolute;
    width: 100%;
    /*
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
    */
}

#temporary_background {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 2s;
    background-color: #e36397;
    animation-fill-mode: forwards; 
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: "Neris",'Trebuchet MS';
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px
}

body {
    background-color: #FFFBFF;
    font-family: "Neris",'Trebuchet MS';
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}

li {
    float: left;
}

li a {
    display: block; 
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content-wrapper {
    max-width: 950px;
    margin: 0 auto;
}


/* Change the link color to #56285A on hover */
li a:hover {
    background-color: #56285A;
}