/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require style.scss
 */


@import 'style';


.innerHeadContainer {
    background-color: #FFFBFF;
    display: block;
    overflow: inherit;
}

.pagehead {
    height: 75px;
    
    h1, h2, h3, p {
        padding-top: 15px;
    }
}
 

 @keyframes fadeOut {
    0% {background-color: #69306d;}
    5% {background-color: #ccbbea;} /* ccbbea */
    66% {background-color: #ccbbea;} /* e36397 */
    100% {background-color: #69306d;}
}

 @keyframes alarm {
    0% {background-color: #69306d;}
    5% {background-color: darkred;} /* ccbbea */
    66% {background-color: darkred;} /* e36397 */
    100% {background-color: #69306d;}
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
.alert {
    text-align: center;
}

=======
>>>>>>> 7d8362ee55c5db0bb5f10d0af966f52221986c4e
<<<<<<< HEAD
>>>>>>> master
=======
<<<<<<< HEAD
>>>>>>> master
>>>>>>> master
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
#notice { /* something need to change here in order to make the notices align correctly */
    /* also while the notice is visible, you can't click on buttons (due to width 100%). need to find a workaround for that */
    position: absolute;
    text-align:center;
    width: 100%;
    display: block; 
    padding-top: 14px;
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 20px;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
}


#temporary_background {
    animation-name: fadeOut;
    animation-duration: 3s;
    background-color: #e36397;
    animation-fill-mode: forwards; 
}

#incorrect_background {
    animation-name: alarm;
    animation-duration: 3s;
    background-color: #e36397;
    animation-fill-mode: forwards; 
}

.page-footer {
    background: #69306D;
    color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    position: block;
=======
>>>>>>> master
=======
<<<<<<< HEAD
    position: block;
=======
>>>>>>> master
<<<<<<< HEAD
    position: block;
=======
>>>>>>> master
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 1rem;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
<<<<<<< HEAD
>>>>>>> master
=======
<<<<<<< HEAD
>>>>>>> master
>>>>>>> master
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.home-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    margin: 50px 230px;
    border-radius: 12px;
}

.title-bar-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-size: 16px;
    //margin: 4px 2px;
    border-radius: 12px;
    margin: 0px 10px 0px 10px;
}

.quiz-button {
    float: left;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
    width: 150px;
    height: 100px;
}

.caution {
    background-color: red;
}

body {
    background-image: url("../assets/halftone.png");
    background-repeat: repeat;
    background-position: 100% 80%;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}

li {
    float: left;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


.content-wrapper {
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 150px;
<<<<<<< HEAD
<<<<<<< HEAD
    min-height: 700px;
=======
    min-height: 900px;
>>>>>>> master
=======
<<<<<<< HEAD
    min-height: 700px;
=======
<<<<<<< HEAD
    min-height: 700px;
=======
    min-height: 900px;
>>>>>>> master
>>>>>>> master
=======
    min-height: 900px;
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
}

.login-body{
    background-image: url("../assets/classroom.jpg");
    background-size: cover;
    
    .overlay-container{
        background: rgba(105, 48, 109, .3);
    }
}

.quiz-about-body{
    background-image: url("../assets/classroom-back-view.jpg");
    background-size: cover;
    
    .overlay-container{
        background: rgba(105, 48, 109, .3);
    }
}
.home-body {
    background-image: url("../assets/teacherteaching.jpg");
    background-size: cover;
    height: 75%;
    
    img {
        max-width: 100%;
        position: absolute;
        z-index: -10;
    }
    
    .overlay-container {
        background: rgba(105, 48, 109, .5);
    }    
    
    
}

.course-overview {
    height: 120px;
}

.width-restraint {
    max-width: 950px;
    margin: 0 auto;
}

.navbar {
    margin-bottom: -20px;
    padding: 0;
    height: 100px;
    overflow: hidden;
    background-color: #69306D; 
    
    .button {
        margin: 0px;
    }
    .title {
        padding: 16px 16px;
    }
    
    li {
        
        height: 100px;
        
        a {
            display: block; 
            color: #FFFFFF;
            text-align: center;
            padding: 25px 16px;
            text-decoration: none;
        }
        
    }
    
}

.floating-box {
    float: left;
    width: 214px;
    min-height: 260px;
    margin: 10px;
    border: 3px solid #FFFBFF;  
    background-color: #FFFBFF;
    text-align: center;
    border-radius: 12px;
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.floating-profile-box {
    display: inline-block;
    color: white;
    width: 600px;
    float: right;
    padding: 30px;
    min-height: 300px;
    margin: 30px 0 30px 30px;
    border: 3px solid #FFFBFF;  
    background-color: rgba(105, 48, 109, .5);
    text-align: left;
    border-radius: 3px;
    
    h2 {
        font-size: 16px;
        margin: 0px;
        font-style: italic;
        color: lightgrey;
    }
    
    h3 {
        font-size: 20px;
        margin-top: 0px;
        
        a { color: white; }
    }
    
    p {
        margin-bottom: 20px;
    }
}

.darker {
    background-color: rgba(105, 48, 109, .9) !important;
    border: none !important;
}
    

.list-box {
    float: center;
    width: 500px;
    height: 250px;
    margin: 10px;
    border: 3px solid #FFFBFF;  
    background-color: #FFFBFF;
    text-align: left;
    border-radius: 12px;
    padding: 30px;
    font-size: 18px;
    color: black;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.course-id-box {
    float: right;
    width: 250px;
    height: 100px;
    margin: 10px;
    border: 3px solid #FFFBFF;  
    background-color: #FFFBFF;
    text-align: center;
    border-radius: 12px;
}

.button-box {
    display: inline-block;
    float: right;
}

.accountType {
    color:white;
    width: 320px;
    height: 180px;
    top: 42%;
    left: 50%;
    position: absolute;
    background: rgba(105, 48, 109, .8);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
}

.student-registration {
    color:white;
    width: 380px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
    height: 600px;
    top: 65%;
=======
<<<<<<< HEAD
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    height: 600px;
    top: 65%;
=======
    height: 700px;
    top: 500px;
>>>>>>> master
<<<<<<< HEAD
=======
>>>>>>> master
=======
    height: 700px;
    top: 500px;
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    left: 50%;
    position: absolute;
    background: rgba(105, 48, 109, .8);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
    
    input {
        margin-bottom: 10px !important;
    }
}

.teacher-registration {
    color:white;
    width: 380px;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 480px;
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
    height: 480px;
=======
<<<<<<< HEAD
    height: 480px;
=======
<<<<<<< HEAD
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    height: 550px;
    box-sizing: border-box;
    padding: 30px;
    
    input {
        margin-bottom: 10px !important;
    }
}

.teacher-registration {
    color:white;
    width: 380px;
    height: 550px;
<<<<<<<<< saved version

=========

>>>>>>>>> local version
<<<<<<< HEAD
>>>>>>> master
=======
<<<<<<< HEAD
>>>>>>> master
>>>>>>> master
=======
>>>>>>> parent of 5185954... fixing background still
>>>>>>> 63f2000e8148acaf24d16ac71ff3432b3f7a051a
    top: 58%;
    left: 50%;
    position: absolute;
    background: rgba(105, 48, 109, .8);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
}


.stylish-forms {
    
    h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    
    p {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }
    
    input {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        outline: none;
        height: 40px;
        color:white;
    }
    
    input[type="text"], input[type="password"] {
        border-bottom: 1px solid #fff;
        background: transparent;
        font-size: 16px;
    }
    
    input[type="submit"] {
        background: #4CAF50;
        font-size: 18px;
        border-radius: 12px;
    }

    .simple-link {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
        }
    .simple-link:hover {
        color: #ffc107;
    }
    
    select {
        background: #ccbbea;
        margin-bottom: 20px;
    }
    
    textarea {
        margin-bottom: 20px;  
        background: #ccbbea;
        width: 100%;
    }
    
    input[type="file"] {
        margin-bottom: 0px;
    }
}

.sub-header {
    margin-top: 20px;
    padding: 30px 0px 0px 0px;
    height: 75px;
}

.login {
    color:white;
    width: 320px;
    height: 360px;
    top: 55%;
    left: 50%;
    position: absolute;
    background: rgba(105, 48, 109, .8);
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #ccbbea;
}

.sub-header-text {
    margin-top: -5px;
    font-size: 30px;
    display: inline-block;
    float: left;
}

.quiz {
    img {
        border-radius: 125px;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border: 5px solid rgba(105, 48, 109, .5);
        margin-bottom: 15px;
    }
    margin-bottom: 10px;
    
    input {
        text-align: center;
    }
}

.profile-image-container {
    display: inline-block;
    width: 290px;
    padding: 30px;
    img {
        border-radius: 125px;
        width: 250px;
        height: 250px;
        margin: 20px 20px 20px 20px;
        border: 5px solid rgba(105, 48, 109, .5);
    }
}

img {
    display: block;
}

/* Change the link color to #56285A on hover */
li a:hover {
    background-color: #56285A;
}