/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require style.scss
 */


@import 'style';

.navbar {
    background-color: #69306D;
    padding: 0px;
    margin-bottom: -20px;
    height: 60px;
    
    container {
        height: 60px;
    }
}


nav {
    background-color: #69306D;
}


.innerHeadContainer {
    background-color: #FFFBFF;
    display: block;
    overflow: inherit;
}
 
 @font-face {
     font-family: "Neris";
     src: url('/assets/Neris-Black.otf');
 }
 
 .pagehead {
     background-color: #FFFBFF;
     height: 75px;
     
     h1,h2,p {
         padding-top: 15px;
     }
 }
 
 @keyframes fadeOut {
    0% {background-color: #69306d;}
    5% {background-color: #ccbbea;} /* ccbbea */
    66% {background-color: #ccbbea;} /* e36397 */
    100% {background-color: #69306d;}
}

#notice { /* something need to change here in order to make the notices align correctly */
    /* also while the notice is visible, you can't click on buttons (due to width 100%). need to find a workaround for that */
    position: absolute;
    text-align:center;
    width: 100%;
    display: block; 
    padding-top: 14px;
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 1px;
}


#temporary_background {
    animation-name: fadeOut;
    animation-duration: 3s;
    background-color: #e36397;
    animation-fill-mode: forwards; 
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: "Neris",'Trebuchet MS';
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px
}

.caution {
    background-color: red;
}

body {
    background-color: gainsboro;
    font-family: "Neris",'Trebuchet MS';
    padding-top: 0px;
    
}

.hidden {
    display: none;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}

li {
    float: left;
    padding: 0px;
}

li a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.content-wrapper {
    max-width: 950px;
    margin: 0px auto;
}

.width-restraint {
    max-width: 950px;
    margin: 0 auto;
    padding: 0px;
}


.navigation-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}


/* Change the link color to #56285A on hover */
li a:hover {
    background-color: #56285A;
}