/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require style.scss
 */


@import 'style';


.innerHeadContainer {
    background-color: #FFFBFF;
    display: block;
    overflow: inherit;
}

.pagehead {
    height: 75px;
    
    h1, h2, h3, p {
        padding-top: 15px;
    }
}
 
 @font-face {
     font-family: "Neris";
     src: url('/assets/Neris-Black.otf');
 }
 
 .navbar {
     margin-bottom: -20px;
 }
 
 @keyframes fadeOut {
    0% {background-color: #69306d;}
    5% {background-color: #ccbbea;} /* ccbbea */
    66% {background-color: #ccbbea;} /* e36397 */
    100% {background-color: #69306d;}
}

#notice { /* something need to change here in order to make the notices align correctly */
    /* also while the notice is visible, you can't click on buttons (due to width 100%). need to find a workaround for that */
    position: absolute;
    text-align:center;
    width: 100%;
    display: block; 
    padding-top: 14px;
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 1px;
}


#temporary_background {
    animation-name: fadeOut;
    animation-duration: 3s;
    background-color: #e36397;
    animation-fill-mode: forwards; 
}

.page-footer {
    background: #69306D;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: "Neris",'Trebuchet MS';
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px
}

.caution {
    background-color: red;
}

body {
    background-color: gainsboro;
    font-family: "Neris",'Trebuchet MS';
}

.hidden {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}

li {
    float: left;
}

li a {
    display: block; 
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content-wrapper {
    max-width: 950px;
    margin: 0 auto;
}

.width-restraint {
    max-width: 950px;
    margin: 0 auto;
}

.page_header {
    background-color: black; /* not working right now */
}

.navigation-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306D; 
}


/* Change the link color to #56285A on hover */
li a:hover {
    background-color: #56285A;
}



// just messing around with video here

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.purple-overlay {
    background-color: rgba(204, 187, 234, 0.8);    
    z-index: 999;
}

.overlay-desc {
  background: rgba(105, 48, 109, 0.6);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}